.light-background-first {
  background-image: url(/static/media/Background.f14c3ea0.png);
  background-size: 101% 60%;
  background-repeat: no-repeat;
  background-repeat: repeat-y;
}

/* <<-------------Max 1399-------------->> */

/* <<-------------Max 1199--------------->> */

/* <<-------------Max 991--------------->> */

/* <<-------------Max 767--------------->> */

/* <<-------------Max 575--------------->> */
